@model ProyectoED1.Models.Usuario

@{
    ViewBag.Title = "Create";
}
<style>
    div {
        background-image: url(https://images7.alphacoders.com/374/374296.jpg);
    }
</style>
<br />
<IMG src="https://png.icons8.com/ios/1600/user-male-circle-filled.png" width="100" height="100" />
<h1>Create</h1>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <h4>Ingrese su informacion de usuario</h4>
        <hr />
        <p align="center">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => model.apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => model.edad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            <br />

            <input type="submit" value="Registrarse" class="btn btn-default" />
        </p>

}
<br />
<p align="center">
    @Html.ActionLink("Login", "Index", "Login")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
