@model IEnumerable<ProyectoED1.Models.Filme>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalogo_user</title>
</head>
<body>
    <h5>mostrar por:</h5>
    @using (Html.BeginForm("cambiar_orden", "Filme", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">

            <select name="orden">

                <option>nombre</option>

                <option>genero</option>

                <option>año</option>

            </select>

            <input type="submit" value="Seleccionar" />



        </div>


    }

    @using (Html.BeginForm("buscar", "Filme", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">

            <input type="text" name="buscado" />

            <input type="submit" value="buscar" />



        </div>


    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genero)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.ActionLink("Agregar", "Agregar",new { controller = "Usuario", id = item.Nombre }) |
              
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
