@model IEnumerable<ProyectoED1.Models.Filme>



<!DOCTYPE html>
<style>
    div {
        background-image: url(https://images7.alphacoders.com/374/374296.jpg);
    }
    table {
   
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #f2f4f7  ;
}
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h5>mostrar por:</h5>
    @using (Html.BeginForm("cambiar_orden", "Filme", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

            <select name="orden">

                <option>nombre</option>

                <option>genero</option>

                <option>año</option>

            </select>

            <input type="submit" value="Seleccionar" />




    }


    @using (Html.BeginForm("buscar", "Filme", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

            <input type="text" name="buscado" />

            <input type="submit" value="buscar" />

    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genero)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
               
                @Html.ActionLink("Delete", "Delete", new { id=item.Nombre })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>

<h4>CONFIGURACIÓN</h4>
<h5>Cargar archivo Json de Usuarios</h5>

@using (Html.BeginForm("CargaJsonUsuario", "Filme", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />
}
<h5>Cargar archivo Json de Catalogo</h5>

@using (Html.BeginForm("CargaJsonCatalogo", "Filme", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />
}
